{% extends "base.html" %}
{% block main %}
<h1>{{ title }}</h1>
<div class="sample row col-12">
  {% for x in data %}
    <div class="col-2">
      <a class="col-12" href="./book/{{x.id}}">{{x.title}}</a>
      <div class="image col-12"  style="background-image:url({{url_for('static', filename='images/'+x.img)}}); padding-bottom:0px;"><a href="#" class="fill-div"></a></div>
    </div>
  {% endfor %}
</div>
{% endblock %}
